[submodule "Assets/ThirdPartyPlugins/AudioManager"]
	path = Assets/ThirdPartyPlugins/AudioManager
	url = https://github.com/CornerScape/Unity_Audio.git
[submodule "Assets/ThirdPartyPlugins/UtilPackage"]
	path = Assets/ThirdPartyPlugins/UtilPackage
	url = https://github.com/CornerScape/UnityUtilPackage.git
[submodule "Assets/ThirdPartyPlugins/UIManager"]
	path = Assets/ThirdPartyPlugins/UIManager
	url = https://github.com/CornerScape/Unity_UIManager.git
[submodule "Assets/ThirdPartyPlugins/EventManager"]
	path = Assets/ThirdPartyPlugins/EventManager
	url = https://github.com/CornerScape/Unity_EventManager.git
[submodule "Assets/ThirdPartyPlugins/SQLite3Helper"]
	path = Assets/ThirdPartyPlugins/SQLite3Helper
	url = https://github.com/CornerScape/Unity_SQLite3Helper.git
